@model section_7_Entity.ViewModels.HomePageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <style>
        .green {
            color: green;
            margin: 05px;
        }

        .red {
            color: red;
            margin: 05px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                @Html.ActionLink("Ekle", "AddUser", "User", null, new { @class = "btn btn-primary" })
                <br /><br />
                <ul class="list-group">
                    <li class="list-group-item active">Kullanıcılar</li>

                    @foreach (var item in Model.Users)
                    {
                <li class="list-group-item" id=@item.Id>
                    @Html.ActionLink("Düzenle", "EditUser", "User", new { userId=item.Id}, new { @class = "btn btn-warning " })
                    @Html.ActionLink("Sil", "DeleteUser", "User", new { userId = item.Id }, new { @class = "btn btn-danger " })
                    <span class="glyphicon glyphicon-user red"></span>@(item.Name+""+item.Surname)

                </li>
                    }
                </ul>
            </div>

            <div class="col-md-6">

                @Html.ActionLink("Ekle", "AddAddress", "Address", null, new { @class = "btn btn-primary " })
                <br /><br />
                <ul class="list-group">
                    <li class="list-group-item active">Adresler</li>
                    @foreach (var item in Model.Addresses)
                    {
                <li class="list-group-item" id=@item.Id>
                    @Html.ActionLink("Düzenle", "EditAddress", "Address", new { addressId = item.Id }, new { @class = "btn btn-warning " })
                    @Html.ActionLink("Sil", "DeleteAddress", "Address", new { addressId = item.Id }, new { @class = "btn btn-danger " })
                    <span class="glyphicon glyphicon-home green"></span>@(item.AddressDesc+" ("+item.User.Name+")")

                </li>
                    }
                </ul>
            </div>

        </div>
    </div>

</body>
</html>
